*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header and navbar */

.header{
    padding: 2rem 5rem;
}
.main-nav-list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.main-nav:link,
.main-nav:visited{
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    border-radius: 3rem;
 
    
}
.main-nav:hover,
.main-nav:active{
  color: rgb(146, 131, 131);
 
    
    
}

/* left hero section designing */
.container{
    background-image: url(./assets/stethoscope.png);
    background-size: contain;
    width: fit-content;
    height: auto;
    padding-top: 2rem;
   

 
}
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    margin: 0 auto;
    max-width: 80rem;
    padding: 3rem 3rem;

}
.left-hero{
    display: flex;
    align-items: center;
}
.hero-text{
    font-size: 4.4rem;
    line-height: 1.1;
    letter-spacing: .1rem;
}
.hero-description{
    font-size: 1.2rem;
    color: #333;
    opacity: 0.9;
    margin-top: 1rem;
}
.btn{
    font-size: 1.2rem;
    padding: .8rem 2.3rem;
 
    border-radius: 5rem;
    cursor: pointer;
    font-weight: 500;
    color:white;
    background-color: rgb(121, 205, 121);
}
.bottam-angle-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}


/* **** hero Right-section****** */


.right-hero{

    position: relative;
    display: flex;
    justify-content:flex-end;
    align-items:center;
}
.hero-img{
    
    position: absolute;
    width: 60%;
}
.green-Box{
    position: absolute;
    width: 70%;
}
.yellow-Box{

    width: 55%;
    position: absolute;
}

